@{
    Layout = null;
}

 @foreach(var travail in Model)
                             {
                                    <option>
                                    @travail.NomEntreprise
                                        </option>                 
                             }
                      