@{
    ViewBag.Title = "ajoutEntreprise";
}
<script>
    $("document").ready(function () {
        $("#datatable #tbody tr td #supp").click(function () {
            var conf = confirm("Etes vous sûre ?");
            if (conf)
            {
                var formdata =
               {
                   id: $(this).val()
               }
                $.ajax({
                    type: 'post',
                    url: 'http://localhost:61070/Entreprise/suppEntreprise',
                    data: formdata,
                    success: function (data) {
                        $("#tbody").empty().hide();
                        $("#tbody").append(data);
                        $('#tbody').fadeIn(500);
                    }
                });
            }
           
        }); 
        $("#ajouter").click(function () {

                var formdata =
               {
                   Design: $("#design").val(),
                   raisonSociale: $("#raisonSociale").val(),
                   addresse: $("#addresse").val()
               }
                $.ajax({
                    type: 'post',
                    url: 'http://localhost:61070/Entreprise/ajoutEntreprise',
                    data: formdata,
                    success: function (data) {
                        $("#tbody").empty().hide();
                        $("#tbody").append(data);
                        $('#tbody').fadeIn(500);
                        $("#design").val(''); $("#raisonSociale").val(''); $("#addresse").val('');

                    }
                });
            

        });
        $("#datatable #tbody tr td #modifier").click(function () {
            $("#myModal").empty().hide();
            var formdata =
           {
               id: $(this).val()
           }
            $.ajax({
                type: 'post',
                url: 'http://localhost:61070/Entreprise/modifierEntreprise',
                data: formdata,
                success: function (data) {
         
                    $("#myModal").append(data);
                    $('#myModal').fadeIn(500);
                }
            });


        });
       


    });

</script>
<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                        {
                            extend: "copy",
                            className: "btn-sm"
                        },
                        {
                            extend: "csv",
                            className: "btn-sm"
                        },
                        {
                            extend: "excel",
                            className: "btn-sm"
                        },
                        {
                            extend: "pdfHtml5",
                            className: "btn-sm"
                        },
                        {
                            extend: "print",
                            className: "btn-sm"
                        },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').DataTable({
            "language": {
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }
        });
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: false
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: false,
            scroller: false
        });

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    });
</script>
<div class="container">

           <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          
          </div>


<form action="Entreprise/ajoutEntreprise" method="post">
    <div class="form-inline">
    <label for="design">Design:</label>
    <input id="design" name="design" class="" type="text" placeholder="">
    <label for="raisonSociale">Raison sociale:</label>
    <input id="raisonSociale" name="raisonSociale" class="" type="text" placeholder="">
    <label for="addresse">Addresse:</label>
    <input id="addresse" name="addresse" class="" type="text" placeholder="">
      <button class="btn btn-success" id="ajouter" type="button">Ajouter</button>
        </div>
</form>


<table id="datatable" class="table table-striped jambo_table bulk_action">
        
  <thead>
      <th>Design</th>
      <th>Raison Sociale</th>
      <th>Addresse</th>
      <th>Action</th>
  </thead>
    <tbody id="tbody">
        
            @foreach(var entreprise in Model)
             {
                <tr>
                    <td>@entreprise.Design</td>  
                            <td>@entreprise.raisonSociale</td>  
                            <td>@entreprise.addresse</td>  
                                <td> <button data-toggle="modal" href="#myModal" class="btn btn-mini btn-info" id="modifier" value=@entreprise.id type="button">Modifier</button>
                                    <button class="btn btn-mini btn-danger" value=@entreprise.id id="supp" type="button">Supprimer</button>
                   
                                </td>
        </tr>
                }
    </tbody>
</table>
    </div>
