@{
    Layout = null;
}

@foreach(var entreprise in Model)
                             {
                                    <option>
                                    @entreprise.Design
                                        </option>                 
                             }